%html
  %head
    %title Exercicios de JS
  %body
    %script{ 'src' => './js/triangulo.js' }
    %script{ 'src' => './js/xadrez.js' }
    %script{ 'src' => './js/palindromo.js' }
    %script{ 'src' => './js/diferente.js' }
    %script{ 'src' => './js/min_max.js' }
    %script{ 'src' => './js/mods.js' }
    %script{ 'src' => './js/contando_chr.js' }
    %script{ 'src' => './js/power_ranges.js' }
    %script{ 'src' => './js/lst.js' }
    %script{ 'src' => './js/ordenando.js' }
    %script{ 'src' => './js/cripto.js' }
    %script{ 'src' => './js/deep_eq.js' }
    %script{ 'src' => './js/selo_de_verificado.js' }
    %script{ 'src' => './js/str.js' }
    %script{ 'src' => './js/reverse_array.js' }
    %script{ 'src' => './js/func_mat.js' }

    %h1{'style' => 'text-decoration: underline'} Exercicios de Javascript
    %p (veja saida no Console do navegador)

    %button{ 'onclick' => 'triangulo()' } Desenhar Triangulo no Console
    %br/
    %button{ 'onclick' => 'xadrez()' } Desenhar Tabuleiro e Xadrez
    %br/
    %button{ 'onclick' => 'palindromo()' } Verificar se eh palindromo
    %br/
    %button{ 'onclick' => 'diferente()' } Exercicio Diferente
    %br/
    %button{ 'onclick' => 'min_max()' } < e >
    %br/
    %button{ 'onclick' => 'div2()' } Divisivel por 2
    %br/
    %button{ 'onclick' => 'divN()' } Divisivel por N
    %br/
    %button{ 'onclick' => 'contando_chr()' } Contar char
    %br/
    %button{ 'onclick' => 'intervalo()' } Intervalo
    %br/
    %button{ 'onclick' => 'intervalo_i()' } Intervalo variado
    %br/
    %button{ 'onclick' => 'reverse_array()' } Inverter valores
    %br/
    %button{ 'onclick' => 'lst()' } Array --> Lst
    %br/
    %button{ 'onclick' => 'deep_eq()' } Verificar mesmas propriedades
    %br/
    %button{ 'onclick' => 'ordenando()' } Ordenacao
    %br/
    %button{ 'onclick' => 'cripto()' } Cifrar/Decifrar
    %br/
    %button{ 'onclick' => 'selo_de_verificado()' } Impar e/ou Primo
    %br/
    %button{ 'onclick' => 'str()' } Transforma String
    %br/
    %button{ 'onclick' => 'func_mat()' } Funcoes Matriciais
    %br/
